

.azeret-mono-simple {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Logo section */
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 150px;
}

.header-btn button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;
margin-right: 166px;
border: 1px solid rgb(13, 19, 33);
opacity: 0.8;
border-radius: 5px;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
/* Logo section end */




/* Background image add */

.background-add{
background-image: url(../assets/Hero-bg.png);
width: 1895px;
height: 722px;
left: 0;
right: 0;
top: 131px;
bottom: 4462px;
background-size: cover;
background-position: center;
}

.content-image{
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-top: 16px;
}

.content-image img{
width: 240.28px;
height: 240px;
top: 0%;
bottom: 0%;
}

.header-tittle h1{
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-top:32px ;
}


.header-tittle p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;
opacity: 0.7;
}

.background-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-btn button{
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(13, 19, 33);
    margin-top: 32px;
}
/* Background image add end*/


/* ----------------------------Main section start------------------------------ */

#main-section{
    height: 1530px;
    width: 1440px;
    background-color:rgba(13, 19, 33, 0.02);
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 16px;
}


.main-tittle{
    text-align: center;
}

.main-tittle h2{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
padding-top: 80px;
}

.main-tittle p{
margin-top: 24px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

/* card section */



.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 336px;
    width: 946px;
    background-color: white;
    padding: 30px;
    gap: 50px;
    border-radius: 16px;
    margin-top: 30px;
}

.card-text h3{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
margin-top: -20px;
}

.card-text p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
margin-top: -10px;
}

.card-text button{
padding: 10px 25px 10px 25px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
margin-top: 15px;
}
/* card section */





/* Insprition section  */
#inspiration h2{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
margin-top: 140px;
}

#inspiration p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

.video{
    margin-top: 50px;
    border-radius: 16px;
}

/* insprition section */


/* Carent target */

.current-card{
    display: flex;
    align-items: center;
    gap: 110px;
}


.current-tittle h2{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
margin: 111px;
}

.current-tittle p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-top: -85px;
}


.learn-card{
    width: 340px;
    height: 290px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}

.learn-card img{
    margin-top: 20px;
}

.learn-card h4{
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}

.learn-card p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: -10px;
}
.learn-card a{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-decoration-line: underline;
}

/* 2nd card */
.learn-card2{
    width: 340px;
    height: 290px;
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    border-radius: 16px;
    align-items: center;
}

.learn-card2 img{
    margin-top: 20px;
}

.learn-card2 h4{
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}

.learn-card2 p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: -10px;
}

.learn-card2 a{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-decoration-line: underline;
}
/* 2nd card */


/* 3rd card */
.learn-card3{
width: 340px;
height: 290px;
background-color: rgba(255, 223, 0, 0.05);
padding: 40px;
border-radius: 16px;
}

.learn-card3 img{
    margin-top: 20px;
}
.learn-card3 h4{
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}

.learn-card3 p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: -10px;
}

.learn-card3 a{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-decoration-line: underline;
}

        /* 3rd card */
/* Carent target */




/* ----------------------------Main section end-------------------------------- */